@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');



*,*::after,*::before{
  box-sizing: border-box;
}

:root{

  /* Dark mode */
  --bg-dark: hsl(207, 26%, 17%);
  --element-bg-dark:  hsl(209, 23%, 22%);
  --text-dark: hsl(0, 0%, 100%);
  --secondary-text: hsl(0, 0%, 52%);
  

  /* Light Mode */
  --bg-light:hsl(0, 0%, 98%);
  --text-light: hsl(200, 15%, 8%);
  --element-bg-light: hsl(0, 0%, 100%);
  --secondary-text: hsl(0, 0%, 52%);
}

/* this sets the theme accordingly to user's prefers on there personal machine  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
    --element-bg: var(--element-bg-dark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg-light);
    --text: var(--text-light);
    --element-bg: var(--element-bg-light);
    color-scheme: light;
  }
}

/* This is for overWriting the user's machine prefers */

 :root[color-scheme= "dark"] {
  --bg: var(--bg-dark);
  --text: var(--text-dark);
  --element-bg: var(--element-bg-dark);
  color-scheme: dark;
}

:root[color-scheme= "light"]{
  --bg: var(--bg-light);
  --text: var(--text-light);
  --element-bg: var(--element-bg-light);
  color-scheme: light;
} 


body{
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

img{
  max-width: 100%;
  display: block;
}

button{
  font-family: inherit;
  cursor: pointer;
}
